/* Navbar Section */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
  }
  
  .navbar {
    background: #286381;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }
  
  #navbar__logo {
    background: #a9a9a9; 
    background: -webkit-linear-gradient(90deg, #f5f5f5, #a9a9a9); 
    background: linear-gradient(to bottom, #f5f5f5, #a9a9a9);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.75rem;
    font-weight: bold;
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: #fff;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
    margin-left: 16px;
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
    font-size: 1.4rem;
    margin-left: 16px;
  }
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 17px 23px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #2b5876;  
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  
    background: linear-gradient(to right, #4e4376, #2b5876); 
    color: #fff;
    transition: all 0.3s ease;
  }

  .navbar__links:hover {
    color: #65048b;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: #131313;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 60vh;
      font-size: 1.6rem;
    }
  
    #navbar__logo {
      padding-left: 25px;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
  
    .navbar__item {
      width: 100%;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar__btn {
      padding-bottom: 2rem;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

/* Reset default spacing */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 90px;
}

/* Home Section */
#home {
  margin: 0;
  padding-top: 80px; 
}

/* Hero Section */
.hero {
  background: #a9a9a9; 
  background: -webkit-linear-gradient(to left, #ece6e6, #c1bebe); 
  background: linear-gradient(to left, #ece6e6, #c1bebe);
  padding: 200px 0;
  height: 100vh;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.hero__heading {
  font-size: 90px;
  margin-bottom: 24px;
  color: #fff;
  margin-top: 3rem;
}

.hero__heading span {
  background: #2980b9;  
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9); 
  background: linear-gradient(to right, #2c3e50, #2980b9); 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.hero__description {
  font-size: 37px;
  background: #428ae8; 
  background: -webkit-linear-gradient(to left, #65a6e3, #428ae8); 
  background: linear-gradient(to left, #65a6e3, #428ae8); 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.highlight {
  border-bottom: 4px solid #65048b;
  color: #65048b; 
}

@media screen and (max-width: 768px) {
    .hero__heading {
        font-size: 60px;
    }
    .hero__description {
        font-size: 40px;
    }
}

/* About Section */
.main {
  background: #ece6e6;
  padding: 10rem 0;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content {
    color: #fff;
    width: 100%;
}

.main__content h1 {
    font-size: 2.8rem;
    background: #2980b9;  
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9); 
    background: linear-gradient(to right, #2c3e50, #2980b9); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.main__content h2 {
    font-size: 1.8rem;
    background: #00416A;  
    background: -webkit-linear-gradient(to right, #0d7abe, #72b1ef);  
    background: linear-gradient(to right, #0d7abe, #72b1ef); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 12px;
}

.main__content ul {
    font-size: 1.5rem;
    margin-left: 22px;
    margin-bottom: 16px;
    background: #428ae8; 
    background: -webkit-linear-gradient(to left, #65a6e3, #428ae8); 
    background: linear-gradient(to left, #65a6e3, #428ae8); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content ul li {
    margin-bottom: 10px;
}

.main__content h3 {
    background: #00416A;  
    background: -webkit-linear-gradient(to right, #0d7abe, #72b1ef);  
    background: linear-gradient(to right, #0d7abe, #72b1ef); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 1.8rem;

}

.main__content h3 span{
    background: #2980b9;  
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9); 
    background: linear-gradient(to right, #2c3e50, #2980b9); 
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 1.8rem;
}

.main__btn {
    font-size: 1.5rem;
    background: #2b5876;  
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  
    background: linear-gradient(to right, #4e4376, #2b5876); 
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 1.5rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #65048b;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}

.main__img--card {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #09098c, #1cb5e0);
  align-items: center;
  position: relative; 
}

.clinic {
  height: 450px;
  width: 450px;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain; 
}

.consultation {
  height: 350px;
  width: 350px;
  max-width: 90%;
  max-height: 90%;
  object-fit: contain; 
  filter: invert(1) brightness(2);
}

#card-2 {
  background-image: linear-gradient(to left, #09098c, #1cb5e0)
}

/* Mobile Responsive */

@media screen and (max-width: 1100px) {
  .main__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }

  .main__img--card {
    height: 425px;
    width: 425px;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 4rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main__img--card {
    width: 250px;
    height: 250px;
  }

  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
  }

  .main__btn {
    padding: 12px 3px;
    margin: 2.5rem 0;
  }
}

/* Why Callia? Section */
.why {
  background: #ece6e6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10rem 0;
}

.why h1 {
  background: #2980b9;  
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9); 
  background: linear-gradient(to right, #2c3e50, #2980b9); 
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 4.6rem;
}

.why__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.why__card {
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  color: #fff;
  background: linear-gradient(135deg, #bbe1fa, #51afee, #2174ac);
  transition: 0.3s ease-in;
}

.why__card h2 {
  text-align: center;
  font-size: 2rem;
  margin-top:5rem;
  background: #2980b9;  
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9); 
  background: linear-gradient(to right, #2c3e50, #2980b9); 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.why__card p {
  text-align: center;
  margin-top: 24px;
  font-size: 24px;
  margin-left: 12px;
  margin-right: 12px;
}

.why__card p span {
  background: #ad5389; 
  background: -webkit-linear-gradient(to right, #3c1053, #ad5389); 
  background: linear-gradient(to right, #3c1053, #ad5389);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-size: 24px;
  font-weight: 800;
}

.why__btn {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.why__card button {
  color: #fff;
  padding: 14px 24px;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #131313;
  font-size: 1rem;
}

.why__card button:hover {
  cursor: pointer;
}

.why__card:hover {
  transform: scale(1.075);
  transition: 0.175s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .why__wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .why__wrapper {
    grid-template-columns: 1fr;
  }
}

/* Footer Section */

.footer__container {
  background: #ece6e6;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20vh;
}


.footer_links {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
}

.footer__link--wrapper {
  display: flex;
}

.footer__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.footer__link--items h2 {
  margin-bottom: 16px;
  background: #2980b9;  
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9); 
  background: linear-gradient(to right, #2c3e50, #2980b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  font-size: 1.4rem;
}

.footer__link--items a {
  background: #428ae8; 
  background: -webkit-linear-gradient(to left, #65a6e3, #428ae8); 
  background: linear-gradient(to left, #65a6e3, #428ae8); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  text-decoration: none;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
}

.footer__link--items a:hover {
  color: #1a54da;
  transition: 0.3 ease-out;
}

.website__rights {
  color: #fff;
}

@media screen and (max-width: 820px) {
  .footer__links {
    padding-top: 2rem;
  }

  .website__rights {
    margin-bottom: 2rem;
  }

  .footer__link--wrapper {
    flex-direction: column;
  }

  .social__media--wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .footer__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

/* Contact Us Page */

.contact__container{
  height: 70vh;
  background: #ece6e6;
  padding: 200px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__container form {
  width: 700px;
  height: 550px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0, 5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  flex-wrap: wrap;
}
.contact__container form h1{
  font-size: 3rem;
  font-weight: 500px;
  margin-top: 20px;
  margin-bottom: 24px;
  width: 500px;
  text-align: center; 
  background: #2980b9;  
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9); 
  background: linear-gradient(to right, #2c3e50, #2980b9); 
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.contact__container form input {
  width: 290px;
  height: 40px;
  padding-left: 10px;
  outline: none;
  border: none;
  color: #428ae8;
  font-weight: 200;
  font-size: 17px;
  margin-bottom: 10px;
  background: none;
  border-bottom: 2px solid #428ae8;
}

.contact__container form input::placeholder,
.contact__container form textarea::placeholder {
  color: #428ae8;
}
.contact__container form #business-name,
.contact__container form #subject {
  margin-left: 20px;
}

.contact__container form h4 {
  color: #428ae8;
  font-weight: 300;
  width: 600px;
  margin-top: 20px;
}

.contact__container form textarea {
  background: none;
  border: none;
  border-bottom: 2px solid #428ae8;
  color: #428ae8;
  font-weight: 200;
  font-size: 17px;
  padding: 10px;
  outline: none;
  max-width: 600px;
  min-width: 600px;
  min-height: 80px;
  max-height: 100px;
}

textarea::-webkit-scrollbar {
  width: 1em;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(194, 194, 194, 0.713)
}

.contact__container form #button {
  border: none;
  background: #2b5876;  
  background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  
  background: linear-gradient(to right, #4e4376, #2b5876); 
  border-radius: 5px;
  margin-top: 5px;
  font-size: 25px;
  color: #fff;
  width: 130px;
  height: 60px;
  padding: 0;
  margin-right: 500px;
  margin-left: 30px;
  margin-bottom: 30px;
  transition: 0.3s;
}

.contact__container form #button:hover {
  opacity: 0.7;
}
